<h1>Code of Ethics of the Filipino Computing and Information Technology</h1>
<p>
	For the purposes of this Code, the following terms are defined as follows:
	<h4>Information Technology</h4>
		<p>The preparation, collection,transport, retrieval, storage, access, presentation and transformation of electronic information in all itrs forms, but not limited to, voice, graphics, text, vide, data and image.</p>
	<h4>Information Technology Profession</h4>
		<p> One who develops or provide information technology products and/or services to the public.</p>
</p>
