<p><em>Science and Engineering Ethics (2001) 7, 231-238</em></p>
<hr>
<h1>Software Engineering Code of Etchis and Professional Practice</h1>
<h3>IEE-CS/ACM Joint Task Force on Software Engineering Ethics and Professional Practices</h3>
<hr>
<p>
	<b>Keywords:</b> code of ethcis, professional responsiblity, software engineering
	<h3>Preamble</h3>
	The short version of the code summarizes aspirations at a high level of abstraction. The clauses that are included in the full version give examples and details fo how these aspirations change the way we act as software engineering professionals. Without the aspirations, the details can become legalistic and tedious; without the details, the aspirations can become high-sounding but emptu; together, the aspirations and the details form a cohesive code.
</p>